<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.udel.trnka.pl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:icon="@drawable/chart"
        android:label="@string/app_name" >
        <activity
            android:name="edu.udel.trnka.pl.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="edu.udel.trnka.pl.PersonalActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name="edu.udel.trnka.pl.InterpersonalActivity" 
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name="edu.udel.trnka.pl.AboutActivity" />
        <activity android:name="edu.udel.trnka.pl.TestActivity" />
        </application>

</manifest>